@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2017-06-16 09:19:31
 * @version $Id$
 */
        *{padding:0;margin:0;font-family: "微软雅黑";}
        a{text-decoration: none;color: #fff;}
        a:hover{text-decoration: none;}
        ul li{list-style: none;}
       /* body{background:url(img/bg3.png) no-repeat;background-size: 100% 700px; }*/
        #top{width: 100%;height: 100px;background: rgba(0,0,0,0.2);overflow: hidden;}
        #left{width:300px;height: 100%;background:#FF304D;text-decoration: none;line-height: 100px;font-size: 36px;float: left;margin-left: 38px;font-weight: bold;padding-left:10px;padding-right: 10px;font-family: "微软雅黑";color: #fff; }
        #right{width: 600px;height:100%;float: right;overflow: hidden;}
        #top #right #inleft{width: 100px;height: 38px;border-right:3px solid #fff;margin-top: 15px;margin-left: 100px;float: left;}
        #top #right #inleft span{font-size: 18px;font-weight: bold;color: #fff;}
        #top #right #inright{font-size: 16px;color: #fff;background:#01BCFA;width: 230px;height:30px;float: left;margin-top: 18px;margin-left:25px;text-align: center;line-height:30px;font-weight: bold; }
        #top #right #inbtm{width: 500px;height: 30px;margin-top: 60px;position: relative;}
        #top #right #inbtm ul li{float: left;margin-left: 38px;font-family: "微软雅黑";}
        #top #right #inbtm .line1{border: 2px solid red;position: absolute;top:30px;left:38px;width: 30px;}
/*弹框样式*/
        #bigbox{width: 1346px;height:560px;background:rgba(0,0,0,0.5);position: absolute;z-index: 888;display: none;}
        #bigbox #tan{width: 600px;height: 480px;border:1px;position: absolute;z-index: 980;background: #fff;margin:10px 27%;border-radius: 5px;}
        #bigbox #tan #intan{width: 560px;height: 420px;margin: 3px 15px auto 20px;background: #272525;position: absolute;}
        #bigbox #tan #intan h1{font-size: 30px;color: #fff;margin-top:50px;margin-left: 45%;}
        #bigbox #tan #intan input{margin-top:30px;margin-left: 45px;width: 470px;height: 43px;font-size: 22px;
          background: #4A4848;border:0px;}
        #bigbox #tan #intan #ip2{margin-top: 30px;}
        #bigbox #tan #intan #out{overflow: hidden;height: 150px;}
        #bigbox #tan #intan div #selectpic{float: left;width: 15px;height: 15px;border:1px solid #fff;margin-left:50px;margin-top: 35px;}
        #bigbox #tan #intan #out #selectpic #inselectpic{width: 10px;height: 10px;border: 1px solid red;background: red;position: absolute;top:0;left: 0px;z-index: 999;}
        #bigbox #tan #intan div #remenber{float: left;color:#fff;margin-top: 32px;margin-left: 10px;}
        #bigbox #tan #intan div #wangji{float: right;color:#fff;margin-top: 32px;margin-right: 100px;}
        #bigbox #tan #intan div #login{color:#fff;margin-top: 32px;margin-right: 100px;font-weight: bold;margin-top: 90px;margin-left: 34%;font-size: 24px;font-family: "微软雅黑";}
        #bigbox #tan #intan div #login a{width: 180px;height:45px;display: block;text-align: center;line-height: 45px;background: #DD1733;}
/*选项卡*/
        #ul{width:300px;padding-bottom:-1px;position: relative;}
        #ul li{list-style: none;width: 250px;height:40px;text-align: center;cursor:pointer;margin-left:200px;line-height: 40px;background: #F9F1E6;}
        #ul li:hover{background: #FF304D;}
        .active{}
        #centent{margin-top:10px;overflow: hidden;}
        #content>div {width: 663px;height:460px;border: 1px solid #ccc; display:none;position: absolute;top:100px;left: 450px;background: #F9F1E6;}
        #content div.aa{display:block;}
        #content div img{position: absolute;top:13px;left: -1px;}
        #content div #tab1{margin:60px auto;}
        #content div #tab1 tr td{width: 500px;height: 50px;background: #F9F1E6;}
        #content #danzi #cont_top{width: 800px;height: 30px;margin: 20px auto;margin-bottom:0;font-size: 0px; }
        #content #danzi #cont_top span{width: 60px;height: 30px;display: inline-block;background: #f36;color: #fff;text-align: center;line-height: 30px;font-family: "微软雅黑";font-size: 16px;}
        #content #danzi #tab2{width: 600px;border-bottom: 1px solid #f36;margin: 0 auto;display: none;}
        #content #danzi #tab2 tr td{width: 350px;height: 50px;border-top: 1px solid #f36;}
        #content #danzi #tab2 tr td .ip_no{width:100px;height:30px;border: 0px;color: #fff;background:#f36;margin-left:200px;outline: none;cursor: pointer;}
        #content #danzi #tab2 tr td .ip_no:hover{background: #F9FF0F;color: #f36;}

        #content #danzi #tab3{display: none;width: 600px;border-bottom: 1px solid #f36;margin:0px auto;}
        #content #danzi #tab3 tr td{width: 800px;height: 50px;border-top: 1px solid #f36;}
        #content #danzi #tab3 tr td .ip_yes{width:100px;height:30px;border: 0px;color: #fff;background:#f36;margin-left:200px;outline: none;cursor: pointer;}
        #content #danzi #tab3 tr td .ip_yes:hover{background: #F9FF0F;color: #f36;}

        #info{width: 250px;height: 150px;margin-left: 200px;background: url(../img/head1.png) no-repeat;}
        #info #head{width: 80px;height: 80px;border-radius: 50%;text-align: center;line-height: 80px;margin: 0 auto;}
        #info #head img{width: 80px;height: 80px;border-radius: 50%;}
        #info #usernam{width: 80px;height: 30px;margin: 10px auto;text-align: center;line-height: 30px;}
        #select{font-family: "微软雅黑";font-size: 20px;}
/*发帖记录*/
        #tb{padding: 5px;}
        #tb_ul{overflow: hidden; border-bottom:1px solid red;}
        #tb_ul li{float:left;margin-left:20px;margin-top: 5px;}
        #tb #ip{font-size: 0px;}
        #tb #ip #ip_serch1{width: 300px;height:34px;border:1px solid #f36;margin-top: 10px;margin-left: 200px;outline-color: #f36;font-size: 18px;}
        #tb #ip #ip_serch2{border: 0px;background: #f36;color: #fff;width: 100px;height: 36px;border-top:2px solid #f36;outline-color: #f36;}
        #tab4 .divcon{width: 500px;height: 100px;border: 1px solid #E4E6EB;outline: #f36;border-radius: 5px;margin-top: 5px;text-indent: 24px;}
        #fix1{position: fixed;top:420px;left:980px;border: 1px solid #f36;}
        #fix2{position: fixed;top:450px;left:980px;border: 1px solid #f36;}
        #answer{width: 600px;height: 150px;border:1px solid #f36;outline: #f36;text-indent: 24px;margin-top: 10px;}
        #footer{margin-top: 20px;}

