<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FileUploadAndDownload</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UploadHandleServlet</servlet-name>
    <servlet-class>me.gacl.web.controller.UploadHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHandleServlet</servlet-name>
    <url-pattern>/servlet/UploadHandleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListFileServlet</servlet-name>
    <servlet-class>me.gacl.web.controller.ListFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFileServlet</servlet-name>
    <url-pattern>/servlet/ListFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>me.gacl.web.controller.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/servlet/DownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckFile</servlet-name>
    <servlet-class>com.stx.xc.AdminServlet.CheckFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckFile</servlet-name>
    <url-pattern>/servlet/CheckFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>com.stx.xc.AdminServlet.DownloadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/servlet/DownloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Move</servlet-name>
    <servlet-class>com.stx.xc.AdminServlet.Move</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Move</servlet-name>
    <url-pattern>/servlet/Move</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckMesServlet</servlet-name>
    <servlet-class>com.stx.xc.Emailservlet.CheckMesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckMesServlet</servlet-name>
    <url-pattern>/servlet/CheckMesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListMesServlet</servlet-name>
    <servlet-class>com.stx.xc.Emailservlet.ListMesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMesServlet</servlet-name>
    <url-pattern>/servlet/ListMesServlet</url-pattern>
  </servlet-mapping>
</web-app>